{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@/animations": "./src/animations",
          "@/hooks": "./src/hooks",
          "@/components": "./src/components",
          "@/constants": "./src/constants",
          "@/utils": "./src/utils",
          "@/styles": "./src/styles",
          "@/assets": "./src/assets",
          "@/enums": "./src/enums",
          "@/test-utils": "./src/test-utils"
        }
      }
    ]
  ]
}
