@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?t5ewzj');
  src: url('icomoon.eot?t5ewzj#iefix') format('embedded-opentype'),
    url('icomoon.ttf?t5ewzj') format('truetype'),
    url('icomoon.woff?t5ewzj') format('woff'),
    url('icomoon.svg?t5ewzj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-arrow:before {
  content: '\2b88';
}
